   *{
      font-family: 'Baloo 2', cursive;
      font-size: 1.25rem;
   }
   body{
      background-color: var(--bodyBg);
      place-items: center;
   }
   :root{
      --bodyBg: white;
      --black:black;
      --grey: black;
   }
   .darkMode{
      --bodyBg: black;
      --black:white;
      --grey: grey;
   }
   #h1tag{
      margin: 5vh;
      color: var(--black);		
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
   }
   .mode{
      cursor: pointer;
      position: fixed;
      left: 70vw;
      top: 8vh;
   }
   .calculatoor{
      margin: auto ;
      background-color: var(--grey);
      padding: 3%;
      width: 250px;
      border-radius: 15px;
   }
   #mathvalue{
      width: 93%;
      padding: 4%;
      margin-bottom: 5%;
      border-radius: 5px;
      border: var(--bodyBg) solid 2px;
      box-shadow: 0 0 3px var(--bodyBg);
   }
   button{
      color: var(--black);
      background-color: var(--bodyBg);
      width: 23%;
      margin: 2% 0;
      border-radius: 10px;
      cursor: pointer;
      padding: 2% 0;
      border: solid 1px var(--bodyBg);
   }
   #bigBtn{
      width: 49%;
   }
   button:hover{
      box-shadow: 0 0 5px var(--bodyBg);
   }
